.blog-section{
  margin-top: 50px;
}
.blog-title span{
 color: #3fd0d4;
}

.card-info{
  background-color: #3fd0d4;
}

.card-info p{
  margin-bottom: 0px;
  padding: 7px;
}

.read-more{
  background-color: #ffc107;;
}
.read-more:hover{
color: #ffffff;

background-color: black;
}